@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
    margin: 0;
}

.icon img {
    height: 102px !important;
}

.signup-btn {
    background-color: #FDD05D;
}

.container {
    max-width:unset;
}
.form {
    max-width: 400px;
}
