@tailwind base;
@tailwind components;
@tailwind utilities;

.icon img {
    height: 102px !important;
}

.mui-style-tjaq38-MuiPaper-root-MuiCard-root {
    border-radius: 2rem 2rem 0 0;
    height: 100%;
    padding: 0 1.5rem;
}